
<div class="div-heading">
    <div class="page-heading" ">
        <img src="https://cdn-icons-png.flaticon.com/128/3588/3588658.png" height="40px" alt=""> 
        <h1>Habitesy</h1>
    </div>
    <%if(locals.user){%>
        <span class="welcom"> Welcome <%=user.name%></span>
        <ul>
            <li class="list"><a href="/users/sign-out">Sign Out</a></li>
            <li class="list"><a href="/users/reset">Reset Password</a></li>
        
        </ul>
        <%}%>

</div>
