.inp1{
    margin:10px 0;
}
.inp2,.inp3{
    flex-basis: 20;
    margin:10px;
    width:40%;
}

/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)),url(/images/workout.jpg);
}
.wrapper{
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  overflow: scroll;
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}

.days li::before{
  position: absolute;
  content: "";
  left: 50%; 
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 20%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: hsl(0, 33%, 77%);
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 70px;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}

.div-heading{
  width: 100vw;
  height: 11%;
  position: fixed;
  left:50%;
  top:0;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0A4D68;
  margin-bottom:20px ;
}

.div-heading ul{
  list-style: none;
  font-size: 20px;
  display: flex;
  width: 25%;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.div-heading ul li a{
  text-decoration: none;
  color:white;
}

.page-heading{
  color:white;
  font-size: 40px;
  padding: 15px;
  width: 18%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card{
  box-shadow: 0 0 13px 4px;
  margin-top: 80px;
  background-color: #F6F4EB;
  opacity: 0.8;
}

.hb_title{
  color: #CD5C08;
  background-color: #DAFFFB;
  padding: 3px;
}

.home-img{
  width: 100vw;
  background-position: center;
  background-size: cover;
}

.card-home{
  width: 50%;
  height: 400px;
  background-color: rgb(50, 72, 123);
  border-radius: 20px;
  margin-top: 70px;
  padding: 20px;
  opacity: 0.7;
}

.card-home h2{
  color:white;
  font-size: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-home button{
  width: 90px;
  background-color: #CD5C08;
  padding: 5px;
  margin: 10px;
}

.card-home button a{
  text-decoration: none;
  color: white;
}

.welcom{
  color: wheat;
  font-size: 30px;
}

.footer{
  position: fixed;
  text-align: center;
  bottom: 5px;
  color: lightgray;
}