
.inp1{
    margin:10px 0;
}
.inp2,.inp3{
    flex-basis: 20;
    margin:10px;
    width:40%;
}

/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  align-items: center;
  /* padding: 0 10px; */
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)),url(images/);
  /* width: 850px; */
}
.wrapper{
  /* width: 550px; */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  overflow: scroll;
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
/* .days li.active{
  color: #fff;
} */
.days li::before{
  position: absolute;
  content: "";
  left: 50%; 
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 20%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: hsl(0, 33%, 77%);
  /* transform: scale(2); */
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 70px;
}
.days li:not(.active):hover::before{
  background: #f2f2f2;
}

.page-heading{
  color:white;
  font-size: 50px;
  background-color: #0A4D68;
  padding: 10px;
  position: fixed;
  left:50%;
  transform: translateX(-50%);
  margin-bottom:20px ;
  width: 100%;
  text-align: center;
  z-index: 1;

}

.card{
  box-shadow: 0 0 13px 4px;
  /* z-index: 1; */
  margin-top: 80px;
  background-color: #F6F4EB;
}

.hb_title{
  color: #CD5C08;
  background-color: #DAFFFB;
  padding: 3px;
}